.container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.loadBtn {
  border: 2px solid black;
  border-radius: 12px;
  background-color: lightblue;
  padding: 10px 10px;
}
.loadBtn:hover,
.loadBtn:focus {
  cursor: pointer;
  scale: 1.05;
}
